<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="phenix1"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\phenix.mdf;Initial Catalog=phenix;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="phenix"
      connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=E:\workspace\Code\Git\Lergao\Phenix\Phenix.Web\App_Data\phenix.mdf;Initial Catalog=phenix;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>